extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h1= title
    form.w3-container(method="POST")
      fieldset
        legend Metadata
        label Título
        input.w3-input.w3-round(type="text" name="title" value=filme.title)
        label Ano
        input.w3-input.w3-round(type="number" name="year" value=filme.year)
        label Elenco
        input.w3-input.w3-round(type="text" name="cast" value=filme.cast.join(", "))
        label Géneros
        input.w3-input.w3-round(type="text" name="genres" value=filme.genres.join(", "))
      br
      button.w3-btn.w3-blue.w3-mb-2(type="submit") Editar
